<div class="container">

  <h1>Lukulista</h1>

  <ol class="breadcrumb">
    <li class="active">
      Kirjat
    </li>
  </ol>

  <div class='row'>
    <div class='col-sm-12'>
      <p>
        <form>
          <legend>Etsi</legend>
          <div class='col-xs-4'>
            <input type='text' class='form-control' value='' name='keyword' placeholder='Keyword' >
          </div>
        </form>
      </p>
    </div>
  </div>

  <hr>





  <div class="row">
    <div class="col-sm-8">
      <ul class="list-unstyled book-list">
      <% @books.each do |book| %>
        <li class="row rating-<%= book.rating %>">
  <div class="col-sm-3">
    <a href="#" target="_blank">
      <%= image_from_amazon(book.amazon_id)  %> 
    </a>
    <p class="text-center rating"><strong><%= book.rating %></strong>/5</p>
  </div>

  <div class="col-sm-9">
    <h3><a href="#"><%= book.title %></a></h3>
    <p class="text-muted"><em>Kirjoittanut <%= book.author %></em></p>

    <div>
      <p>
        <%= book.description %>
      </p>
    </div>
    <span>
      
    </span>
  </div>
</li>
<% end %>
      </ul>
    </div>
    <div class="col-sm-4">
      <h2>Genret</h2>
      <ul class="list-unstyled">
      </ul>
    </div>
  </div>
</div>
